@import '../misc/global';

.trough {
  display: flex;
  flex-flow: column nowrap;
  min-width: 580px;

  & > * {
    width: 100%;
    border: 1px solid black;

    // To prevent double borders
    &:not(:first-child) {
      border-top: none;
    }
  }
}
