@import '../misc/global';

.trough {
  display: flex;
  flex-flow: column nowrap;
  min-width: 580px;

  & > * {
    width: 100%;
    border: 1px solid black;

    // To prevent double borders
    &:not(:first-child) {
      border-top: none;
    }
  }
}

.twat-composer-inline {
  display:flex;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: #1b2838;

  .user-icon {
    display: flex;
    align-items: center;
    width: 12%;
    text-align: right; // TODO For development only
    color: $inactive;

    i {
      font-size: 32px;
      margin-left: auto;
      margin-right: 5px;
    }
  }

  input[type='text'] {
    width: 100%;
    line-height: 20px;
    font-size: 0.875rem;
    border: 2px solid #25364a;
    border-radius: 8px;
    margin-right: 0.75em;
    padding: 8px;
    color: white;
    background-color: darken(#25364a, 10%);

    &:focus {
      outline: none;
      border-color: #3f73b9;
    }
  }

  .twat-button {
    margin-right: 0.75em;
  }
}
