/* Border-box sizing everywhere */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Dimensions */
$min-page-width: 610px;

/* Colors */
$inactive: #ffffff4d;
$active-blue: #03A9F4;
$secondary-blue: #25364a;

.twat-button {
  font-weight: bold;
  background-color: $active-blue;
  padding: 0.525em 1.5em;
  border-radius: 96px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $active-blue, $amount: 10%);
  }
}
