/* Border-box sizing everywhere */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #141d22;
}

/* Dimensions */
$min-page-width: 610px;

/* Colors */
$inactive: #757575;
$active-blue: #03A9F4;
$secondary-blue: #25364a;

.twat-button {
  color: white;
  border: none;
  font-weight: bold;
  background-color: $active-blue;
  padding: 0.525em 1.5em;
  border-radius: 96px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $active-blue, $amount: 10%);
  }
}

.react-router-modal__wrapper {
  width: 100%;
}

.react-router-modal__container {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow-y: scroll;
}

.react-router-modal__modal {
  transform: translate(-50%, 0);
}
