/* Border-box sizing everywhere */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Dimensions */

/* Colors */
$inactive: #ffffff4d;
$active-blue: #03A9F4;
$secondary-blue: #25364a;
