@import './global';

.list-twat {
  display: flex;
  padding: 0.5em;
  background-color: $secondary-blue;

  &:hover {
    background-color: darken($secondary-blue, 10%);
  }

  .user-icon {
    width: 12%;
    color: $inactive;

    i {
      font-size: 47px;
      cursor: pointer;
    }
  }

  .list-twat-content {
    width: 100%;
  }
}

.list-twat-content {
  display: flex;
  flex-flow: column nowrap;
  color: $inactive;

  .heading {
    display: flex;
    margin-top: 0.35em;
    font-size: 0.875rem;

    .user-link {
      color: $inactive;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        .display-name {
          color: $active-blue;
          text-decoration: underline;
        }
      }
    }

    .display-name {
      color: white;
      font-weight: bold;
      margin-right: 0.35em;
    }

    .relative-timestamp {
      color: $inactive;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $active-blue;
        text-decoration: underline;
      }
    }

    .menu-button {
      margin: 0 0 0 auto;
      cursor: pointer;
      i { line-height: 17px; }
    }
  }

  .twat-text {
    margin: 0.25em 1em 0 0;
    line-height: 1.35em;
    font-size: 0.875rem;
    color: white;
  }

  .options-bar {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 0.7em;
    margin-bottom: 0.25em;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;

    span {
      display: inline-flex;
      align-items: center;
    }

    i {
      color: $inactive;
      margin-right: 0.25em;
    }
  }
}
