@import '../misc/global';

.twat-button {
  font-weight: bold;
  background-color: $active-blue;
  border-radius: 96px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $active-blue, $amount: 10%);
  }
}
