// Small tablets and large smartphones (landscape view)
$sm-max-content-width: 500px;

// Small tablets (portrait view)
$screen-md-min: 930px;
$md-max-content-width: 920px;

// Tablets and small desktops
$screen-lg-min: 1280px;
$lg-max-content-width: 1190px;

@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}
