@import '../misc/global';
@import '../misc/screen-sizes';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#wrapper {
  color: white;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  min-width: $min-page-width;

  .wrapper {
    position: relative;
    height: 100%;
  }
}
