@import 'global';
@import 'screen-sizes';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#wrapper {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  background-color: #141d22;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding-top: 10px;
  max-width: $sm-max-content-width;

  .column-1, .column-3 {
    width: 25%;
  }

  .column-2 {
    width: 50%;
    margin: 0 1em;
  }

  @include md {
    max-width: $md-max-content-width;
  }
  @include lg {
    max-width: $lg-max-content-width;
  }
}
