@import '../misc/global';
@import '../misc/screen-sizes';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.dashboard-wrapper {
  height: 100vh;
}

.dashboard-wrapper > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.dashboard-wrapper > main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 auto;
  padding: 52px 0;

  .user-info, .trends {
    display: none;
    width: 290px;
  }

  @include md {
    max-width: $md-max-content-width;

    .user-info, .trends {
      display: block;
    }

    .trough {
      width: 50%;
      margin: 0 1em;
    }
  }

  @include lg {
    flex-flow: row nowrap;
    max-width: $lg-max-content-width;

    .user-info, .trends {
      display: block;
    }

    .trough {
      width: 50%;
      margin: 0 1em;
    }
  }
}

.user-info {
  border: 1px solid black;
  background-color: $secondary-blue;

  i {
    color: $inactive;
    font-size: 61px;
    cursor: pointer;
    margin-top: -44px;
    margin-right: 16px;
  }

  .header-image {
    padding: 1em;
    height: 75px;
    background-color: $active-blue;
  }

  .user-info-contents {
    padding: 1em;

    & > div:first-child {
      display: flex;
    }
  }

  .display-name {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .username {
    color: $inactive;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .user-stats {
    display: flex;
    margin-top: 1.2em;
    color: $inactive;
  }

  .user-stats-column {
    width: 50%;
    cursor: pointer;

    &:hover {
      color: $active-blue;
    }

    & > div:first-child {
      font-size: 0.8rem;
      font-weight: bold;
    }

    & > div:nth-child(2) {
      color: $active-blue;
      font-size: 1.15rem;
      font-weight: bold;
    }
  }
}

.trends {
  padding: 1em;
  border: 1px solid black;
  background-color: $secondary-blue;

  h3 {
    margin: 0 0 1em 0;
    font-weight: bold;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 1em;
  }

  .trend {
    color: $active-blue;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .twat-quantity {
    font-size: 12px;
    color: $inactive;
  }
}
