@import '../misc/global';
@import '../misc/screen-sizes';

header {
  width: 100%;
  height: 42px;
  background-color: #243443;

  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include md {
      max-width: $md-max-content-width;
    }
    @include lg {
      max-width: $lg-max-content-width;
    }
  }
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  height: 100%;
  padding: 0.25em 1em 0;
  color: $inactive;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  i.material-icons {
    margin-right: 5px;
    margin-bottom: 3px; // lines up with text better
  }

  &.active, &:hover {
    color: $active-blue;
    border-bottom: 2px solid $active-blue;
  }

  &:hover {
    color: lighten($color: $active-blue, $amount: 5%);
  }
}

.search-box {
  margin: 0 0 0 auto;

  input[type='text'] {
    width: 100%;
    line-height: 14px;
    font-size: 0.775rem;
    border: 2px solid #25364a;
    border-radius: 21px;
    padding: 8px 14px;
    color: white;
    background-color: darken(#25364a, 10%);

    &:focus {
      outline: none;
      border-color: #3f73b9;
    }
  }
}

.settings-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 15px;

  &:focus {
    outline: 0;
  }

  i {
    font-size: 32px;
    color: $inactive;
    cursor: pointer;
  }
}
